.news-list {
    list-style-type: none;
    padding: 0;
  }
  
  .news-item {
    margin-bottom: 20px;
  }
  
  .news-image {
    width: 100px;
  }
  
  .news-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .news-byline {
    font-size: 14px;
    font-style: italic;
  }
  
  .news-abstract {
    font-size: 14px;
  }
  
  .news-link {
    display: inline-block;
    color: blue;
    margin-top: 5px;
  }